*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    /* background-image: url(./Photos/tree.png); */
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
#head{
    margin-top: 60px ;
    text-align: center;
    margin-bottom: 60px;
}

h1{
    font-size: 40px;
    font-family: sans-serif;
}

/* content */


img{
  height: 300px;
  width: 340px; 
  border-radius: 40px;
    padding-right: 20px;
}
#experience{
    display: inline-block;
    margin: 10px;
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 20px;
    width: 325px;
    text-align: center;
    line-height: 15px;
}

#education{
    display: inline-block;
    margin: 10px;
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 20px;
    width: 325px;
    text-align: center;
    line-height: 15px;
}

.container{
    display: flex;
}

.container-text{
    display: block;
    padding: 10px;
}
.container0{
    display: flex;
    padding: 10px;
    margin: 0px 150px;
    padding: 0px 30px; 
    width: fit-content;

}



